body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: darkgrey;
}

.titulo {
  color: darkgoldenrod;
}

.parrafo {
  color: darkorchid;
}

.img {
  width: 300px;
}
