nav {
  padding: 4px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

li {
  word-spacing: 1px;
  letter-spacing: 1px;
}

ul {
  justify-content: end;
  list-style: none;
  padding: 0;
  width: 100%;
}

li {
  padding-right: 16px;
  font-size: large;
}

a {
  text-decoration: none;
  color: black;
}

.active {
  font-weight: bold;
}